{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Robolight{% endblock %}</title>
    {% block css %}
    {% endblock %}
</head>
<body>
    <nav style="background:#f5f5f5;padding:10px 0 10px 20px;margin-bottom:20px;">
        <a href="/admin/" style="margin-right:20px;">Admin</a>
        <a href="/orders/" style="margin-right:20px;">Orders</a>
        <a href="/logs/" style="margin-right:20px;">View Logs</a>
    </nav>
    {% block content %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
</body>
</html> 